* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: #ffffff;
}

body::after {

  content: "";

  display: block;

  width: 1660px;

  height: 3207px;

  background-image: url("https://raw.githubusercontent.com/netology-code/html-2-diploma/master/sources/NOEMI_Modern_ru.jpg");

  position: absolute;

  top: 0;

  left: calc(50% - 830px);

  opacity: 0.6;

  z-index: 999;

}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

@font-face {
 font-family: "Open Sans";
 src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
 font-weight: 700;
 font-style: normal;
}

@font-face {
 font-family: "Open Sans";
 src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
 font-weight: 400;
 font-style: normal;
}

                             /* header start*/

.header::after {
  min-width: 1220px;
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.header {
  min-width: 1220px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-wrap {
  padding: 27px 0 128px;
}

.logo-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0 18px;
  margin:0 auto;
  position: relative;
  z-index: 1;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-list-item > a {
  display: flex;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  width:180px;
  height: 40px;
}

.text-title {
  max-width: 690px;
  margin: 105px auto 0;
  font-size: 45px;
  line-height: 75px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

                             /* header end*/

                             /*main start*/

.posts {
  display: flex;
  padding: 62px 15px;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}

.all-posts-list { /*main*/
  max-width: 780px;
  display: flex;
  flex-direction: column;
}

.posts-list {
  display: flex;
}

.posts-list:nth-child(n+2) {
  margin-top: 55px;
}

.main-picture {
  min-width: 381px;
}

.posts-picture {
  color: black;
  width: 381px;
  background-color: #eff6f1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.posts-frame {
  margin-left: 30px;
}

.posts-tags-link {
  display: flex;
  margin-bottom: 4px;
}

.tags:nth-child(n+2) {
  margin-left: 20px;
}

.tags > a {
  display: flex;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.tags-link:hover {
  text-decoration: underline;
}

.posts-title {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.posts-title:hover {
  font-size: 20px;
  line-height: 24px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
}

.date-author {
  display: flex;
  margin-bottom: 45px;
}

.date-posts{
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
}

.author-posts {
  margin-left: 13px;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";

}

.text-posts {
  width: 367px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
}

                             /*end main*/
                             /*start aside*/

.side-bar {
  display: flex;
  max-width: 272px;
  flex-direction: column;
}

.posts-list-article {
  display: flex;
  width: 100%;
  min-width: 272px;
}

.posts-list-article:nth-child(n+2) {
  margin-top: 19px;
}

.aside-title {
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}

.aside-title:after {
  content: "";
  position: absolute;
  margin: 6px auto;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b59f5b;
  height: 3px;
  width: 66px;
}


.aside-picture {
  min-width: 70px;
}

.posts-picture-article {
  display: flex;
  width: 70px;
  color: black;
  background-color: #f4f7f6;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.date-posts-aside {
  display: flex;
  margin-left: 20px;
  vertical-align: top;
  flex-direction: column;
}

.date-posts-article {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}

.posts-title-article {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.posts-title-article:hover {
  font-size: 14px;
  line-height: 18px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
}

.search {
  margin-top: 61px;
}

.search-section {
  position: relative;
}

.search-hint {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.field-search {
  width: 100%;
  height: 48px;
  padding: 20px 68px 20px 20px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 2px solid #f5f7f6;
  background-color: #f5f7f6;
}

.field-search:focus {
  width: 100%;
  height: 48px;
  outline: none;
  background-color: #f5f7f6;
  border: 1px solid #b49f5b;
}

.search-button {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #b59f5b;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.search-button:focus {
  width: 48px;
  height: 48px;
  outline: none;
  background-color: #323232;
}

.field-subscribe {
  width: 100%;
  height: 48px;
  padding: 20px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 2px solid #f5f7f6;
  background-color: #f5f7f6;
}

.field-subscribe:focus {
  width: 100%;
  height: 48px;
  outline: none;
  background-color: #f5f7f6;
  border: 1px solid #b49f5b;
}

.subscribe {
  margin-top: 60px;
}

.subscribe-button {
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  width: 270px;
  height: 48px;
  background-color: #b59f5b;
  border: 2px solid #b59f5b;
  margin-top: 17px;
}

.subscribe-button:hover {
  width: 270px;
  height: 48px;
  background-color: #323232;
  outline: none;
}

.tags-aside-container {
  width: 272px;
  margin-top: 56px;
}

.tags-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tags-aside-article:nth-child(n+1){
  margin-right: 5px;
  margin-bottom: -6px;
}

.tags-aside-article > a {
  width: 86px;
  height: 30px;
  background-color: rgba(244,243,241,0);
  border: 3px solid #eeeeee;
  text-align: center;
  padding: 8px 13px;
}

.tags-aside-article > a:hover {
  width: 86px;
  height: 30px;
  background-color: rgba(244,243,241,0);
  border: 3px solid #b59f5b;
}

.link-tags-article {
  font-size: 12px;
  line-height: 40px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

.categories-aside-container {
  margin-top: 60px;
}

.categories-aside-article {
  border-bottom: 2px solid #eeeeee;
  margin-top: -7px;
}

.categories-article {
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: none;
  list-style-type: none;
}

.categories-article:hover {
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
}

.categories-index {
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
  vertical-align: text-bottom;
}

                        /*end aside*/
                        /*start footer*/

.footer {
  display: flex;
  min-width: 1220px;
  justify-content: center;

}

.footer-box {
  display: flex;
  padding: 0 15px 41px;
  justify-content: center;
  flex-direction: column;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1170px;
  background-color: #f4f7f6;
  list-style-type: none;
}

.social-icon:nth-child(n+2) {
  margin-left: 27px;
}

.social-icon {
  padding: 32px 0 32px;
}

.social-twitter {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;

}

.social-pinterest {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-facebook {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-instagram {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-tumblr {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright-footer {
  display: flex;
  justify-content: center;
  margin-top: 59px;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
  font-family: "Open Sans";
}

                          /*end footer*/
